<% layout('/layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-9 offset-xl-3">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt="Woman at table displayed from above with map, passport, cameras, laptop, sunglasses cup of coffee planning a journey"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="post" class="validate-form" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input class="form-control" type="text" id="username" name="username" autofocus required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input class="form-control" type="password" id="password" name="password" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Login</button>
            <span>Don't have an account? </span><a href="/register">Sign up</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
